body {
    background: url("../images/street_art_menu.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#logo {
    background: url("../images/title.png");
    height: 128px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 50px 0px;
}

#login {
    position: absolute;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    padding: 10px;
    background: #fff;
    text-align: center;
    border-radius: 90px;
    border: 5px solid #000;
}

#player-name {
    margin: 5px;
    padding: 5px 10px;
    border-radius: 90px;
    border: 2px solid #ccc;
    outline: none;
    transition: .2s all linear;
}

#player-name:focus {
    border: 2px solid #0af;
    box-shadow: 0 0 10px #0af;
}

#play-button {
    background: url("../images/play_button.png");
    height: 50px;
    width: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .2s all cubic-bezier(.64,.14,.16,1.55);
}

#play-button:hover { transform: scale(1.15); }
#play-button:active {
    transition: none;
    transform: scale(1);
    filter: brightness(85%);
}
