@font-face {
    font-family: "Flow";
    src: url("./fonts/Flow.otf");
}

body, html {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

body {
    background: url("../img/bg.png") fixed;
    background-size: cover;
    margin: 0;
    perspective: 1200px;
    font-family: "Flow";
    font-size: 14pt;
}

div.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

div.centered { text-align: center; }

#game-div {
    width: 800px;
    height: 640px;
    border: 5px solid rgba(0, 0, 0, 0.33);
    border-radius: 10px;
    transform-origin: center;
    transform-style: preserve-3d;
    transition: .6s all cubic-bezier(.5, -0.3, .5, 1.3);
}
#game-div > div {
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
#game-back {
    transform: rotateY(180deg);
    background: #fff;
}
#game-div.flipped {
    transform: rotateY(180deg);
}
#game-canvas {
    border-radius: 5px;
    width: 800px;
    height: 640px;
}

#showcase { padding: 20px; }

#paintings-view {
    width: 100%;
    overflow-x: hidden;
}
#paintings {
    display: flex;
    margin: 0 -200px;
    margin-top: 20px;
}
.painting {
    width: 400px;
    height: 300px;
    margin-right: 10px;
    transition: .2s all ease-in-out;
}
.painting > canvas {
    transform: scale(0.5);
    transform-origin: top center;
}
.painting.active {
    margin-top: -20px;
}
#paintings-controls {
    display: flex;
    justify-content: center;
    margin: 20px 10px;
}
#paintings-controls > div {
    background: #ccc;
    width: 30px;
    height: 30px;
    border: none;
    margin: 3px 10px;
    border-radius: 20px;
    cursor: pointer;
    border: 0 solid #888;
    transition: .2s all linear;
}
#paintings-controls > div.active {
    margin: 0 10px;
    border: 3px solid #888;
}
#paintings-controls > div:hover { background: #aaa; }
#vote-btn {
    font-size: 16pt;
    padding: 5px 20px;
    background: #fff;
    color: #aaf;
    border: 2px solid #aaf;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    transition: .1s all linear;
}
#vote-btn:hover:not(:disabled) {
    background: #aaf;
    color: #fff;
}
#vote-btn:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2) inset;
    transition: none;
}
#vote-btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

#chat {
    display: flex;
    flex-direction: column;
    background: #fff;
    max-width: 300px;
    flex: 1;
    padding: 10px 0;
    border: 1px solid gray;
    border-radius: 10px;
    margin-right: 10px;
    height: 630px;
}

#timer {
    margin-bottom: 10px;
    background: #ccc;
    text-align: center;
    border: 1px solid #888;
    border-left: 0;
    border-right: 0;
    padding-bottom: 10px;
}

#timer > p {
    height: 20px;
    margin: 5px;
}
#timer > div {
    position: absolute;
    background: #f44;
    height: 10px;
}
#timer-bg {
    position: absolute;
    background: #3a3 !important;
    width: 300px;
}

#players {
    border-top: 1px solid gray;
    margin: 0 10px 10px 10px;
}

#players > div {
    display: flex;
    background: #fff;
    border-bottom: 1px solid gray;
    padding: 5px 10px;
}

#players > div > p {
    flex: 1;
    margin: 0;
}

#chat-content {
    flex: 1;
    overflow-y: auto;
}
#chat-content > p { margin: 5px 10px; }
#chat-content > p.msg > span { font-weight: bold; }
#chat-content > p.log {
    color: #666;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin: 10px 20px;
}

#chat-controls {
    background: #fff;
    padding: 10px 5px 0 5px;
    display: flex;
}
#msg-input {
    flex: 1;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    font-size: 12pt;
}
#msg-input:focus {
    border-color: #88f;
}

#menu-div {
    background: #fff;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    transition: all 2s ease-in-out;
}

#menu-div.hidden { top: -110%; }

#menu-iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
